<%- include('partials/header'); -%>

<form>
    <h2>Edit details</h2>
    <label for="name">Full name</label>
    <input type="text" name="name" value="<%= user.name %>" required /> 
    <div class="name_error"></div>
    <label for="phone">Phone</label>
    <input type="number" name="phone" value="<%= user.phone %>" required />
    <div class="phone_error"></div>
    <label for="address">Address</label>
    <input type="text" name="address" value="<%= user.address %>" required />
    <button>Save changes</button>
</form>

<button><a href="change_password">Change Password</a></button>
<button><a href="/delete_profile">Delete Profile</a></button>

<script>
    const form = document.querySelector('form');
    const phone_error = document.querySelector('.phone_error');
    const name_error = document.querySelector('.name_error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        //reset error fields
        // emailError.textContent = "";
        // passwordError.textContent = "";
        phone_error.textContent = "";
        name_error.textContent = "";

        //getting the values
        const name = form.name.value;
        const phone = form.phone.value;
        const address = form.address.value;
        // const email = form.email.value;
        // const password = form.password.value;

        // if (JSON.stringify(phone).length-2 != 10) {
        //     phone_error.textContent = "Telephone must be 10 digits long";
        //     return false;
        // }

        try{
            //todo: needs work!!!
            console.log("##1##");
            const result = await fetch('/edit_profile', {
              method: 'POST',
              body: JSON.stringify({ name, phone, address }),
              headers: { 'Content-Type': 'application/json' }  
            });
            console.log("##2##");
            const data = await result.json();
            console.log(data);

            if (data.errors) {
                name_error.textContent = data.errors.name;
                phone_error.textContent = data.errors.phone;
                // emailError.textContent = data.errors.email;
                // passwordError.textContent = data.errors.password;
            }

            if (data["updated"] === "yes") {
                //// find out why it isn't reaching here !!!
                location.assign('/');
                alert("Details updated");
            }

        }catch(err){
            console.log(err);
        }
    });

</script>

<%- include('partials/footer'); -%>